.search_news__base {
  width: 100%;
  padding: 40px 0;
}

.search_news {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.search_news__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.search_news__title:before {
  content: " ";
  display: inline-block;
  margin-right: 0.5rem;
  border-left: 3px solid green;
  height: 1.1rem;
  padding: 0;
  width: 0;
}

.search_news a {
  color: #333;
}

.search_news a:hover {
  color: rgb(83, 83, 83);
  transition: 0.5s;
}
