.footer__base {
    background-color: rgba(13,13,13,.95);
    width: 100%;
    min-height: 300px;
    color: #fff;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 30px 0;
}

.footer__detail {
    display: flex;
    gap: 2rem;
}

.footer__detail__box__title {
    font-size: 1.1rem;
    font-weight: 600;
}

.footer__detail__box ul {
    margin-bottom: 0;
}

.footer__detail__box ul li {
    list-style: none;
}

.footer__detail__box ul li a {
    color: #fff;
}
.footer__detail__box ul li a:hover {
    text-decoration: underline;
}

.footer__social_media {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer__social_media_title {
    font-size: 1.1rem;
    font-weight: 600;
}

.footer__social_media__content {
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
}

.footer__privacy {
    display: flex;
    gap: 0.5rem;
}

.footer__privacy span a {
    color: #fff;
}

.footer__privacy span a:hover {
    text-decoration: underline;
}

.footer__copyright {
    font-size: 0.75rem;
}
